# Shahadat Hossain Razin
**Department of Statistics, Mobile- 01515237158, Email- razinstatiu@gmail.com**

# Pandas - Cleaning Data

**Data Cleaning**
**Data cleaning means fixing bad data in your data set.**

**Bad data could be:
-Empty cells,
-Data in wrong format,
-Wrong data,
-Duplicates**

**-Return the Data Frame with empty cells:**

In [16]:
import pandas as pd

df = pd.read_csv('data_pulse.csv')

In [17]:
df

    index  Duration        Date  Pulse  Maxpulse  Calories
0       0        60   20/12/01'    110       143    409.60
1       1        60   20/12/02'    117       145    402.30
2       2        60   20/12/03'    103       150    380.50
3       3        45   20/12/04'    109       160    368.30
4       4        45   20/12/05'    117       134    353.80
5       5        60   20/12/06'    102       155    339.20
6       6        60   20/12/07'    110       154    324.70
7       7       450   20/12/08'    104       135    310.16
8       8        30   20/12/09'    109       140    415.20
9       9        60   20/12/10'     98       155    350.80
10     10        60   20/12/11'    100       145    410.50
11     11        60   20/12/12'    102       139    387.40
12     12        60   20/12/13'    102       141    385.10
13     13        60   20/12/14'    107       142    382.70
14     14        60   20/12/15'    110       145    380.40
15     15        60   20/12/16'    107       161    378.06
16     16        60   20/12/17'    108       165       NaN
17     17        60   20/12/18'    109       138    373.30
18     18        45   20/12/19'    100       136    371.01
19     19        60   20/12/20'    102       154    368.60
20     20        45   20/12/21'    107       124    366.30
21     21        60         NaN     98       135    363.90
22     22        45   20/12/23'    105       130    361.60
23     23        60   20/12/24'     98       141    359.26
24     24        45  20/12/2025     97       138    356.90
25     25        60   20/12/26'    106       140    354.50
26     26        60   20/12/27'    107       154       NaN
27     27        60   20/12/28'    104       139    378.50
28     28        60   20/12/29'    103       140    348.60
29     29        60   20/12/30'     98       125    318.70
30     30        60   20/12/31'     87       160    288.80
31     31        60   20/12/31'    107       145    258.90

**-Return a new Data Frame with no empty cells:**

In [1]:
import pandas as pd

df = pd.read_csv('data_pulse.csv')

new_df = df.dropna()

print(new_df.to_string())

    index  Duration        Date  Pulse  Maxpulse  Calories
0       0        60   20/12/01'    110       143    409.60
1       1        60   20/12/02'    117       145    402.30
2       2        60   20/12/03'    103       150    380.50
3       3        45   20/12/04'    109       160    368.30
4       4        45   20/12/05'    117       134    353.80
5       5        60   20/12/06'    102       155    339.20
6       6        60   20/12/07'    110       154    324.70
7       7       450   20/12/08'    104       135    310.16
8       8        30   20/12/09'    109       140    415.20
9       9        60   20/12/10'     98       155    350.80
10     10        60   20/12/11'    100       145    410.50
11     11        60   20/12/12'    102       139    387.40
12     12        60   20/12/13'    102       141    385.10
13     13        60   20/12/14'    107       142    382.70
14     14        60   20/12/15'    110       145    380.40
15     15        60   20/12/16'    107       161    378.06
17     17        60   20/12/18'    109       138    373.30
18     18        45   20/12/19'    100       136    371.01
19     19        60   20/12/20'    102       154    368.60
20     20        45   20/12/21'    107       124    366.30
22     22        45   20/12/23'    105       130    361.60
23     23        60   20/12/24'     98       141    359.26
24     24        45  20/12/2025     97       138    356.90
25     25        60   20/12/26'    106       140    354.50
27     27        60   20/12/28'    104       139    378.50
28     28        60   20/12/29'    103       140    348.60
29     29        60   20/12/30'     98       125    318.70
30     30        60   20/12/31'     87       160    288.80
31     31        60   20/12/31'    107       145    258.90

In [18]:
import pandas as pd

df = pd.read_csv('data_pulse.csv')

new_df = df.dropna()

In [19]:
new_df

    index  Duration        Date  Pulse  Maxpulse  Calories
0       0        60   20/12/01'    110       143    409.60
1       1        60   20/12/02'    117       145    402.30
2       2        60   20/12/03'    103       150    380.50
3       3        45   20/12/04'    109       160    368.30
4       4        45   20/12/05'    117       134    353.80
5       5        60   20/12/06'    102       155    339.20
6       6        60   20/12/07'    110       154    324.70
7       7       450   20/12/08'    104       135    310.16
8       8        30   20/12/09'    109       140    415.20
9       9        60   20/12/10'     98       155    350.80
10     10        60   20/12/11'    100       145    410.50
11     11        60   20/12/12'    102       139    387.40
12     12        60   20/12/13'    102       141    385.10
13     13        60   20/12/14'    107       142    382.70
14     14        60   20/12/15'    110       145    380.40
15     15        60   20/12/16'    107       161    378.06
17     17        60   20/12/18'    109       138    373.30
18     18        45   20/12/19'    100       136    371.01
19     19        60   20/12/20'    102       154    368.60
20     20        45   20/12/21'    107       124    366.30
22     22        45   20/12/23'    105       130    361.60
23     23        60   20/12/24'     98       141    359.26
24     24        45  20/12/2025     97       138    356.90
25     25        60   20/12/26'    106       140    354.50
27     27        60   20/12/28'    104       139    378.50
28     28        60   20/12/29'    103       140    348.60
29     29        60   20/12/30'     98       125    318.70
30     30        60   20/12/31'     87       160    288.80
31     31        60   20/12/31'    107       145    258.90

**If you want to change the original DataFrame, use the inplace = True argument:**

**-Remove all rows with NULL values:**

In [7]:
import pandas as pd

df = pd.read_csv('data_pulse.csv')

df.dropna(inplace = True)

print(df.to_string())

    index  Duration        Date  Pulse  Maxpulse  Calories
0       0        60   20/12/01'    110       143    409.60
1       1        60   20/12/02'    117       145    402.30
2       2        60   20/12/03'    103       150    380.50
3       3        45   20/12/04'    109       160    368.30
4       4        45   20/12/05'    117       134    353.80
5       5        60   20/12/06'    102       155    339.20
6       6        60   20/12/07'    110       154    324.70
7       7       450   20/12/08'    104       135    310.16
8       8        30   20/12/09'    109       140    415.20
9       9        60   20/12/10'     98       155    350.80
10     10        60   20/12/11'    100       145    410.50
11     11        60   20/12/12'    102       139    387.40
12     12        60   20/12/13'    102       141    385.10
13     13        60   20/12/14'    107       142    382.70
14     14        60   20/12/15'    110       145    380.40
15     15        60   20/12/16'    107       161    378.06
17     17        60   20/12/18'    109       138    373.30
18     18        45   20/12/19'    100       136    371.01
19     19        60   20/12/20'    102       154    368.60
20     20        45   20/12/21'    107       124    366.30
22     22        45   20/12/23'    105       130    361.60
23     23        60   20/12/24'     98       141    359.26
24     24        45  20/12/2025     97       138    356.90
25     25        60   20/12/26'    106       140    354.50
27     27        60   20/12/28'    104       139    378.50
28     28        60   20/12/29'    103       140    348.60
29     29        60   20/12/30'     98       125    318.70
30     30        60   20/12/31'     87       160    288.80
31     31        60   20/12/31'    107       145    258.90

In [23]:
df = pd.read_csv('data_pulse.csv')

df.dropna(inplace = True)

In [25]:
print(df.to_string())

    index  Duration        Date  Pulse  Maxpulse  Calories
0       0        60   20/12/01'    110       143    409.60
1       1        60   20/12/02'    117       145    402.30
2       2        60   20/12/03'    103       150    380.50
3       3        45   20/12/04'    109       160    368.30
4       4        45   20/12/05'    117       134    353.80
5       5        60   20/12/06'    102       155    339.20
6       6        60   20/12/07'    110       154    324.70
7       7       450   20/12/08'    104       135    310.16
8       8        30   20/12/09'    109       140    415.20
9       9        60   20/12/10'     98       155    350.80
10     10        60   20/12/11'    100       145    410.50
11     11        60   20/12/12'    102       139    387.40
12     12        60   20/12/13'    102       141    385.10
13     13        60   20/12/14'    107       142    382.70
14     14        60   20/12/15'    110       145    380.40
15     15        60   20/12/16'    107       161    378.06
17     17        60   20/12/18'    109       138    373.30
18     18        45   20/12/19'    100       136    371.01
19     19        60   20/12/20'    102       154    368.60
20     20        45   20/12/21'    107       124    366.30
22     22        45   20/12/23'    105       130    361.60
23     23        60   20/12/24'     98       141    359.26
24     24        45  20/12/2025     97       138    356.90
25     25        60   20/12/26'    106       140    354.50
27     27        60   20/12/28'    104       139    378.50
28     28        60   20/12/29'    103       140    348.60
29     29        60   20/12/30'     98       125    318.70
30     30        60   20/12/31'     87       160    288.80
31     31        60   20/12/31'    107       145    258.90

**-Some basic information**

In [8]:
df.head()

   index  Duration       Date  Pulse  Maxpulse  Calories
0      0        60  20/12/01'    110       143     409.6
1      1        60  20/12/02'    117       145     402.3
2      2        60  20/12/03'    103       150     380.5
3      3        45  20/12/04'    109       160     368.3
4      4        45  20/12/05'    117       134     353.8

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 29 entries, 0 to 31
Data columns (total 6 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   index     29 non-null     int64
 1   Duration  29 non-null     int64
 2   Date      29 non-null     object
 3   Pulse     29 non-null     int64
 4   Maxpulse  29 non-null     int64
 5   Calories  29 non-null     float64
dtypes: float64(1), int64(4), object(1)
memory usage: 1.6+ KB

In [10]:
df.isnull().any()

index       False
Duration    False
Date        False
Pulse       False
Maxpulse    False
Calories    False
dtype: bool

In [11]:
df.isnull().sum()

index       0
Duration    0
Date        0
Pulse       0
Maxpulse    0
Calories    0
dtype: int64

In [12]:
df.shape

(29, 6)

# Replace Empty Values

**Another way of dealing with empty cells is to insert a new value instead.**

**-This way you do not have to delete entire rows just because of some empty cells.**

**-The fillna() method allows us to replace empty cells with a value:**

**Example:
Replace NULL values with the number 130:**

In [14]:
import pandas as pd

df = pd.read_csv('data_pulse.csv')

df.fillna(130, inplace = True)

In [15]:
df

    index  Duration        Date  Pulse  Maxpulse  Calories
0       0        60   20/12/01'    110       143    409.60
1       1        60   20/12/02'    117       145    402.30
2       2        60   20/12/03'    103       150    380.50
3       3        45   20/12/04'    109       160    368.30
4       4        45   20/12/05'    117       134    353.80
5       5        60   20/12/06'    102       155    339.20
6       6        60   20/12/07'    110       154    324.70
7       7       450   20/12/08'    104       135    310.16
8       8        30   20/12/09'    109       140    415.20
9       9        60   20/12/10'     98       155    350.80
10     10        60   20/12/11'    100       145    410.50
11     11        60   20/12/12'    102       139    387.40
12     12        60   20/12/13'    102       141    385.10
13     13        60   20/12/14'    107       142    382.70
14     14        60   20/12/15'    110       145    380.40
15     15        60   20/12/16'    107       161    378.06
16     16        60   20/12/17'    108       165    130.00
17     17        60   20/12/18'    109       138    373.30
18     18        45   20/12/19'    100       136    371.01
19     19        60   20/12/20'    102       154    368.60
20     20        45   20/12/21'    107       124    366.30
21     21        60         130     98       135    363.90
22     22        45   20/12/23'    105       130    361.60
23     23        60   20/12/24'     98       141    359.26
24     24        45  20/12/2025     97       138    356.90
25     25        60   20/12/26'    106       140    354.50
26     26        60   20/12/27'    107       154    130.00
27     27        60   20/12/28'    104       139    378.50
28     28        60   20/12/29'    103       140    348.60
29     29        60   20/12/30'     98       125    318.70
30     30        60   20/12/31'     87       160    288.80
31     31        60   20/12/31'    107       145    258.90

# Replace Only For Specified Columns

**-Replace NULL values in the "Calories" columns with the number 130:**

In [21]:
import pandas as pd

df = pd.read_csv('data_pulse.csv')

df["Calories"].fillna(130, inplace = True)

In [22]:
df

    index  Duration        Date  Pulse  Maxpulse  Calories
0       0        60   20/12/01'    110       143    409.60
1       1        60   20/12/02'    117       145    402.30
2       2        60   20/12/03'    103       150    380.50
3       3        45   20/12/04'    109       160    368.30
4       4        45   20/12/05'    117       134    353.80
5       5        60   20/12/06'    102       155    339.20
6       6        60   20/12/07'    110       154    324.70
7       7       450   20/12/08'    104       135    310.16
8       8        30   20/12/09'    109       140    415.20
9       9        60   20/12/10'     98       155    350.80
10     10        60   20/12/11'    100       145    410.50
11     11        60   20/12/12'    102       139    387.40
12     12        60   20/12/13'    102       141    385.10
13     13        60   20/12/14'    107       142    382.70
14     14        60   20/12/15'    110       145    380.40
15     15        60   20/12/16'    107       161    378.06
16     16        60   20/12/17'    108       165    130.00
17     17        60   20/12/18'    109       138    373.30
18     18        45   20/12/19'    100       136    371.01
19     19        60   20/12/20'    102       154    368.60
20     20        45   20/12/21'    107       124    366.30
21     21        60         NaN     98       135    363.90
22     22        45   20/12/23'    105       130    361.60
23     23        60   20/12/24'     98       141    359.26
24     24        45  20/12/2025     97       138    356.90
25     25        60   20/12/26'    106       140    354.50
26     26        60   20/12/27'    107       154    130.00
27     27        60   20/12/28'    104       139    378.50
28     28        60   20/12/29'    103       140    348.60
29     29        60   20/12/30'     98       125    318.70
30     30        60   20/12/31'     87       160    288.80
31     31        60   20/12/31'    107       145    258.90

# Replace Using Mean, Median, or Mode

**-Calculate the MEAN, and replace any empty values with it:**

In [26]:
x = df["Calories"].mean()

df["Calories"].fillna(x, inplace = True)

In [27]:
df

    index  Duration        Date  Pulse  Maxpulse  Calories
0       0        60   20/12/01'    110       143    409.60
1       1        60   20/12/02'    117       145    402.30
2       2        60   20/12/03'    103       150    380.50
3       3        45   20/12/04'    109       160    368.30
4       4        45   20/12/05'    117       134    353.80
5       5        60   20/12/06'    102       155    339.20
6       6        60   20/12/07'    110       154    324.70
7       7       450   20/12/08'    104       135    310.16
8       8        30   20/12/09'    109       140    415.20
9       9        60   20/12/10'     98       155    350.80
10     10        60   20/12/11'    100       145    410.50
11     11        60   20/12/12'    102       139    387.40
12     12        60   20/12/13'    102       141    385.10
13     13        60   20/12/14'    107       142    382.70
14     14        60   20/12/15'    110       145    380.40
15     15        60   20/12/16'    107       161    378.06
17     17        60   20/12/18'    109       138    373.30
18     18        45   20/12/19'    100       136    371.01
19     19        60   20/12/20'    102       154    368.60
20     20        45   20/12/21'    107       124    366.30
22     22        45   20/12/23'    105       130    361.60
23     23        60   20/12/24'     98       141    359.26
24     24        45  20/12/2025     97       138    356.90
25     25        60   20/12/26'    106       140    354.50
27     27        60   20/12/28'    104       139    378.50
28     28        60   20/12/29'    103       140    348.60
29     29        60   20/12/30'     98       125    318.70
30     30        60   20/12/31'     87       160    288.80
31     31        60   20/12/31'    107       145    258.90

In [28]:
df.Calories.mean()

361.5065517241379

In [29]:
x = df["Calories"].mean()

In [30]:
x

361.5065517241379

In [31]:
df.Calories.mean()
df["Calories"].fillna(x, inplace = True)

In [32]:
df

    index  Duration        Date  Pulse  Maxpulse  Calories
0       0        60   20/12/01'    110       143    409.60
1       1        60   20/12/02'    117       145    402.30
2       2        60   20/12/03'    103       150    380.50
3       3        45   20/12/04'    109       160    368.30
4       4        45   20/12/05'    117       134    353.80
5       5        60   20/12/06'    102       155    339.20
6       6        60   20/12/07'    110       154    324.70
7       7       450   20/12/08'    104       135    310.16
8       8        30   20/12/09'    109       140    415.20
9       9        60   20/12/10'     98       155    350.80
10     10        60   20/12/11'    100       145    410.50
11     11        60   20/12/12'    102       139    387.40
12     12        60   20/12/13'    102       141    385.10
13     13        60   20/12/14'    107       142    382.70
14     14        60   20/12/15'    110       145    380.40
15     15        60   20/12/16'    107       161    378.06
17     17        60   20/12/18'    109       138    373.30
18     18        45   20/12/19'    100       136    371.01
19     19        60   20/12/20'    102       154    368.60
20     20        45   20/12/21'    107       124    366.30
22     22        45   20/12/23'    105       130    361.60
23     23        60   20/12/24'     98       141    359.26
24     24        45  20/12/2025     97       138    356.90
25     25        60   20/12/26'    106       140    354.50
27     27        60   20/12/28'    104       139    378.50
28     28        60   20/12/29'    103       140    348.60
29     29        60   20/12/30'     98       125    318.70
30     30        60   20/12/31'     87       160    288.80
31     31        60   20/12/31'    107       145    258.90

In [33]:
df.Calories.median()

368.3

In [34]:
df.Calories.median()
df["Calories"].fillna(x, inplace = True)

In [35]:
df

    index  Duration        Date  Pulse  Maxpulse  Calories
0       0        60   20/12/01'    110       143    409.60
1       1        60   20/12/02'    117       145    402.30
2       2        60   20/12/03'    103       150    380.50
3       3        45   20/12/04'    109       160    368.30
4       4        45   20/12/05'    117       134    353.80
5       5        60   20/12/06'    102       155    339.20
6       6        60   20/12/07'    110       154    324.70
7       7       450   20/12/08'    104       135    310.16
8       8        30   20/12/09'    109       140    415.20
9       9        60   20/12/10'     98       155    350.80
10     10        60   20/12/11'    100       145    410.50
11     11        60   20/12/12'    102       139    387.40
12     12        60   20/12/13'    102       141    385.10
13     13        60   20/12/14'    107       142    382.70
14     14        60   20/12/15'    110       145    380.40
15     15        60   20/12/16'    107       161    378.06
17     17        60   20/12/18'    109       138    373.30
18     18        45   20/12/19'    100       136    371.01
19     19        60   20/12/20'    102       154    368.60
20     20        45   20/12/21'    107       124    366.30
22     22        45   20/12/23'    105       130    361.60
23     23        60   20/12/24'     98       141    359.26
24     24        45  20/12/2025     97       138    356.90
25     25        60   20/12/26'    106       140    354.50
27     27        60   20/12/28'    104       139    378.50
28     28        60   20/12/29'    103       140    348.60
29     29        60   20/12/30'     98       125    318.70
30     30        60   20/12/31'     87       160    288.80
31     31        60   20/12/31'    107       145    258.90

In [36]:
df.Calories.mode()

0     258.90
1     288.80
2     310.16
3     318.70
4     324.70
5     339.20
6     348.60
7     350.80
8     353.80
9     354.50
10    356.90
11    359.26
12    361.60
13    366.30
14    368.30
15    368.60
16    371.01
17    373.30
18    378.06
19    378.50
20    380.40
21    380.50
22    382.70
23    385.10
24    387.40
25    402.30
26    409.60
27    410.50
28    415.20
Name: Calories, dtype: float64

In [37]:
df.Calories.mode()
df["Calories"].fillna(x, inplace = True)

In [38]:
df

    index  Duration        Date  Pulse  Maxpulse  Calories
0       0        60   20/12/01'    110       143    409.60
1       1        60   20/12/02'    117       145    402.30
2       2        60   20/12/03'    103       150    380.50
3       3        45   20/12/04'    109       160    368.30
4       4        45   20/12/05'    117       134    353.80
5       5        60   20/12/06'    102       155    339.20
6       6        60   20/12/07'    110       154    324.70
7       7       450   20/12/08'    104       135    310.16
8       8        30   20/12/09'    109       140    415.20
9       9        60   20/12/10'     98       155    350.80
10     10        60   20/12/11'    100       145    410.50
11     11        60   20/12/12'    102       139    387.40
12     12        60   20/12/13'    102       141    385.10
13     13        60   20/12/14'    107       142    382.70
14     14        60   20/12/15'    110       145    380.40
15     15        60   20/12/16'    107       161    378.06
17     17        60   20/12/18'    109       138    373.30
18     18        45   20/12/19'    100       136    371.01
19     19        60   20/12/20'    102       154    368.60
20     20        45   20/12/21'    107       124    366.30
22     22        45   20/12/23'    105       130    361.60
23     23        60   20/12/24'     98       141    359.26
24     24        45  20/12/2025     97       138    356.90
25     25        60   20/12/26'    106       140    354.50
27     27        60   20/12/28'    104       139    378.50
28     28        60   20/12/29'    103       140    348.60
29     29        60   20/12/30'     98       125    318.70
30     30        60   20/12/31'     87       160    288.80
31     31        60   20/12/31'    107       145    258.90

In [40]:
import pandas as pd

df = pd.read_csv('data_pulse.csv')

x = df["Calories"].mode()[0]

df["Calories"].fillna(x, inplace = True)

In [41]:
df

    index  Duration        Date  Pulse  Maxpulse  Calories
0       0        60   20/12/01'    110       143    409.60
1       1        60   20/12/02'    117       145    402.30
2       2        60   20/12/03'    103       150    380.50
3       3        45   20/12/04'    109       160    368.30
4       4        45   20/12/05'    117       134    353.80
5       5        60   20/12/06'    102       155    339.20
6       6        60   20/12/07'    110       154    324.70
7       7       450   20/12/08'    104       135    310.16
8       8        30   20/12/09'    109       140    415.20
9       9        60   20/12/10'     98       155    350.80
10     10        60   20/12/11'    100       145    410.50
11     11        60   20/12/12'    102       139    387.40
12     12        60   20/12/13'    102       141    385.10
13     13        60   20/12/14'    107       142    382.70
14     14        60   20/12/15'    110       145    380.40
15     15        60   20/12/16'    107       161    378.06
16     16        60   20/12/17'    108       165    258.90
17     17        60   20/12/18'    109       138    373.30
18     18        45   20/12/19'    100       136    371.01
19     19        60   20/12/20'    102       154    368.60
20     20        45   20/12/21'    107       124    366.30
21     21        60         NaN     98       135    363.90
22     22        45   20/12/23'    105       130    361.60
23     23        60   20/12/24'     98       141    359.26
24     24        45  20/12/2025     97       138    356.90
25     25        60   20/12/26'    106       140    354.50
26     26        60   20/12/27'    107       154    258.90
27     27        60   20/12/28'    104       139    378.50
28     28        60   20/12/29'    103       140    348.60
29     29        60   20/12/30'     98       125    318.70
30     30        60   20/12/31'     87       160    288.80
31     31        60   20/12/31'    107       145    258.90

In [42]:
df.Calories.mode()

0    258.9
Name: Calories, dtype: float64

# Pandas - Cleaning Data of Wrong Format

**Data of Wrong Format
-Cells with data of wrong format can make it difficult, or even impossible, to analyze data.**

In [43]:
import pandas as pd

df = pd.read_csv('data_pulse.csv')

df['Date'] = pd.to_datetime(df['Date'])

print(df.to_string())

    index  Duration       Date  Pulse  Maxpulse  Calories
0       0        60 2001-12-20    110       143    409.60
1       1        60 2002-12-20    117       145    402.30
2       2        60 2003-12-20    103       150    380.50
3       3        45 2004-12-20    109       160    368.30
4       4        45 2005-12-20    117       134    353.80
5       5        60 2006-12-20    102       155    339.20
6       6        60 2007-12-20    110       154    324.70
7       7       450 2008-12-20    104       135    310.16
8       8        30 2009-12-20    109       140    415.20
9       9        60 2010-12-20     98       155    350.80
10     10        60 2011-12-20    100       145    410.50
11     11        60 2012-12-20    102       139    387.40
12     12        60 2013-12-20    102       141    385.10
13     13        60 2014-12-20    107       142    382.70
14     14        60 2015-12-20    110       145    380.40
15     15        60 2016-12-20    107       161    378.06
16     16        60 2017-12-20    108       165       NaN
17     17        60 2018-12-20    109       138    373.30
18     18        45 2019-12-20    100       136    371.01
19     19        60 2020-12-20    102       154    368.60
20     20        45 2021-12-20    107       124    366.30
21     21        60        NaT     98       135    363.90
22     22        45 2023-12-20    105       130    361.60
23     23        60 2024-12-20     98       141    359.26
24     24        45 2025-12-20     97       138    356.90
25     25        60 2026-12-20    106       140    354.50
26     26        60 2027-12-20    107       154       NaN
27     27        60 2028-12-20    104       139    378.50
28     28        60 2029-12-20    103       140    348.60
29     29        60 2030-12-20     98       125    318.70
30     30        60 2031-12-20     87       160    288.80
31     31        60 2031-12-20    107       145    258.90

C:\Users\Razin420\AppData\Local\Temp\ipykernel_12848\1194553543.py:5: UserWarning: Parsing '20/12/2025' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  df['Date'] = pd.to_datetime(df['Date'])

**Removing Rows:- Remove rows with a NULL value in the "Date" column:**

In [44]:
df.dropna(subset=['Date'], inplace = True)

In [45]:
df

    index  Duration       Date  Pulse  Maxpulse  Calories
0       0        60 2001-12-20    110       143    409.60
1       1        60 2002-12-20    117       145    402.30
2       2        60 2003-12-20    103       150    380.50
3       3        45 2004-12-20    109       160    368.30
4       4        45 2005-12-20    117       134    353.80
5       5        60 2006-12-20    102       155    339.20
6       6        60 2007-12-20    110       154    324.70
7       7       450 2008-12-20    104       135    310.16
8       8        30 2009-12-20    109       140    415.20
9       9        60 2010-12-20     98       155    350.80
10     10        60 2011-12-20    100       145    410.50
11     11        60 2012-12-20    102       139    387.40
12     12        60 2013-12-20    102       141    385.10
13     13        60 2014-12-20    107       142    382.70
14     14        60 2015-12-20    110       145    380.40
15     15        60 2016-12-20    107       161    378.06
16     16        60 2017-12-20    108       165       NaN
17     17        60 2018-12-20    109       138    373.30
18     18        45 2019-12-20    100       136    371.01
19     19        60 2020-12-20    102       154    368.60
20     20        45 2021-12-20    107       124    366.30
22     22        45 2023-12-20    105       130    361.60
23     23        60 2024-12-20     98       141    359.26
24     24        45 2025-12-20     97       138    356.90
25     25        60 2026-12-20    106       140    354.50
26     26        60 2027-12-20    107       154       NaN
27     27        60 2028-12-20    104       139    378.50
28     28        60 2029-12-20    103       140    348.60
29     29        60 2030-12-20     98       125    318.70
30     30        60 2031-12-20     87       160    288.80
31     31        60 2031-12-20    107       145    258.90

# Pandas - Fixing Wrong Data

**Wrong Data:- "Wrong data" does not have to be "empty cells" or "wrong format", it can just be wrong, like if someone registered "199" instead of "1.99".**

**Replacing Values:- One way to fix wrong values is to replace them with something else.**

In [46]:
df.loc[7, 'Duration'] = 45

In [47]:
df

    index  Duration       Date  Pulse  Maxpulse  Calories
0       0        60 2001-12-20    110       143    409.60
1       1        60 2002-12-20    117       145    402.30
2       2        60 2003-12-20    103       150    380.50
3       3        45 2004-12-20    109       160    368.30
4       4        45 2005-12-20    117       134    353.80
5       5        60 2006-12-20    102       155    339.20
6       6        60 2007-12-20    110       154    324.70
7       7        45 2008-12-20    104       135    310.16
8       8        30 2009-12-20    109       140    415.20
9       9        60 2010-12-20     98       155    350.80
10     10        60 2011-12-20    100       145    410.50
11     11        60 2012-12-20    102       139    387.40
12     12        60 2013-12-20    102       141    385.10
13     13        60 2014-12-20    107       142    382.70
14     14        60 2015-12-20    110       145    380.40
15     15        60 2016-12-20    107       161    378.06
16     16        60 2017-12-20    108       165       NaN
17     17        60 2018-12-20    109       138    373.30
18     18        45 2019-12-20    100       136    371.01
19     19        60 2020-12-20    102       154    368.60
20     20        45 2021-12-20    107       124    366.30
22     22        45 2023-12-20    105       130    361.60
23     23        60 2024-12-20     98       141    359.26
24     24        45 2025-12-20     97       138    356.90
25     25        60 2026-12-20    106       140    354.50
26     26        60 2027-12-20    107       154       NaN
27     27        60 2028-12-20    104       139    378.50
28     28        60 2029-12-20    103       140    348.60
29     29        60 2030-12-20     98       125    318.70
30     30        60 2031-12-20     87       160    288.80
31     31        60 2031-12-20    107       145    258.90

**Removing Rows:- Another way of handling wrong data is to remove the rows that contains wrong data.**

**-Delete rows where "Duration" is higher than 120:**

In [49]:
for x in df.index:
  if df.loc[x, "Duration"] > 120:
    df.drop(x, inplace = True)

In [50]:
df

    index  Duration       Date  Pulse  Maxpulse  Calories
0       0        60 2001-12-20    110       143    409.60
1       1        60 2002-12-20    117       145    402.30
2       2        60 2003-12-20    103       150    380.50
3       3        45 2004-12-20    109       160    368.30
4       4        45 2005-12-20    117       134    353.80
5       5        60 2006-12-20    102       155    339.20
6       6        60 2007-12-20    110       154    324.70
7       7        45 2008-12-20    104       135    310.16
8       8        30 2009-12-20    109       140    415.20
9       9        60 2010-12-20     98       155    350.80
10     10        60 2011-12-20    100       145    410.50
11     11        60 2012-12-20    102       139    387.40
12     12        60 2013-12-20    102       141    385.10
13     13        60 2014-12-20    107       142    382.70
14     14        60 2015-12-20    110       145    380.40
15     15        60 2016-12-20    107       161    378.06
16     16        60 2017-12-20    108       165       NaN
17     17        60 2018-12-20    109       138    373.30
18     18        45 2019-12-20    100       136    371.01
19     19        60 2020-12-20    102       154    368.60
20     20        45 2021-12-20    107       124    366.30
22     22        45 2023-12-20    105       130    361.60
23     23        60 2024-12-20     98       141    359.26
24     24        45 2025-12-20     97       138    356.90
25     25        60 2026-12-20    106       140    354.50
26     26        60 2027-12-20    107       154       NaN
27     27        60 2028-12-20    104       139    378.50
28     28        60 2029-12-20    103       140    348.60
29     29        60 2030-12-20     98       125    318.70
30     30        60 2031-12-20     87       160    288.80
31     31        60 2031-12-20    107       145    258.90

# Pandas - Removing Duplicates

**Discovering Duplicates:- Duplicate rows are rows that have been registered more than one time.**

**-Returns True for every row that is a duplicate, othwerwise False:**

In [51]:
print(df.duplicated())

0     False
1     False
2     False
3     False
4     False
5     False
6     False
7     False
8     False
9     False
10    False
11    False
12    False
13    False
14    False
15    False
16    False
17    False
18    False
19    False
20    False
22    False
23    False
24    False
25    False
26    False
27    False
28    False
29    False
30    False
31    False
dtype: bool

In [52]:
df.duplicated()

0     False
1     False
2     False
3     False
4     False
5     False
6     False
7     False
8     False
9     False
10    False
11    False
12    False
13    False
14    False
15    False
16    False
17    False
18    False
19    False
20    False
22    False
23    False
24    False
25    False
26    False
27    False
28    False
29    False
30    False
31    False
dtype: bool

**Removing Duplicates:- To remove duplicates, use the drop_duplicates() method.**

In [53]:
df.drop_duplicates(inplace = True)

In [54]:
df

    index  Duration       Date  Pulse  Maxpulse  Calories
0       0        60 2001-12-20    110       143    409.60
1       1        60 2002-12-20    117       145    402.30
2       2        60 2003-12-20    103       150    380.50
3       3        45 2004-12-20    109       160    368.30
4       4        45 2005-12-20    117       134    353.80
5       5        60 2006-12-20    102       155    339.20
6       6        60 2007-12-20    110       154    324.70
7       7        45 2008-12-20    104       135    310.16
8       8        30 2009-12-20    109       140    415.20
9       9        60 2010-12-20     98       155    350.80
10     10        60 2011-12-20    100       145    410.50
11     11        60 2012-12-20    102       139    387.40
12     12        60 2013-12-20    102       141    385.10
13     13        60 2014-12-20    107       142    382.70
14     14        60 2015-12-20    110       145    380.40
15     15        60 2016-12-20    107       161    378.06
16     16        60 2017-12-20    108       165       NaN
17     17        60 2018-12-20    109       138    373.30
18     18        45 2019-12-20    100       136    371.01
19     19        60 2020-12-20    102       154    368.60
20     20        45 2021-12-20    107       124    366.30
22     22        45 2023-12-20    105       130    361.60
23     23        60 2024-12-20     98       141    359.26
24     24        45 2025-12-20     97       138    356.90
25     25        60 2026-12-20    106       140    354.50
26     26        60 2027-12-20    107       154       NaN
27     27        60 2028-12-20    104       139    378.50
28     28        60 2029-12-20    103       140    348.60
29     29        60 2030-12-20     98       125    318.70
30     30        60 2031-12-20     87       160    288.80
31     31        60 2031-12-20    107       145    258.90